<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of order</h2>
      <br>
      <br> ID: <%=  accnt._id %>
      <br> Name: <%=accnt.name%>
      <br> Account Number: <%=accnt.accountNumber%>
      <br> Account Type: <%=accnt.accountType%>
      <hr>
      
      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>