<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">


        <div class="card text-center details" style="width: 30rem;">
            <div class="card-body">
              <h2 class="card-title">Account details</h2>
              <p> ID: <%=acnt._id%></p>
              <p> Name: <%=accnt.name%></p>
              <p class="card-text">Account Number: <%=acnt.accountNumber%></p>
              <p> Organization: <%=acnt.organization%></p>
          
            </div>
          </div>



    </div>
  </div>
</div>
<a href="/account">
  <button type="button" class="btn btn-primary btn-circle bottom-right"><i class="fa fa-list"></i>

</a>