
<div class=row>
    <div class="col col-md-12">
        <div class="col col-md-6">

      </div>

      <div class="col col-md-6"></div>
      <form name="search" method="GET" action="/account">
        <div class="input-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div>
      </form>
      



      </div>

</div>
</div>

<div class="container-fluid maindiv" >
  <div class=row>
    <div class="col col-md-12">
      <!-- <a href="account/create" class="btn btn-primary new">
        Create a new Account
      </a> -->

      <!-- <h2>Recent entries</h2>
      <p>There are
        <%= account.query.length %> accounts.
        <br>
      </p> -->
      
      <% for (var i = accounter.length-1; i >= 0; i--) {   
        acnt = accounter[i];   %>

    <!--  <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  acnt._id %>
          <br> Name: <%=acnt.name%>
          <br> Account Number: <%=acnt.accountNumber%>
          <br> Oranization: <%=acnt.organization%>
          

          <hr>
          <a href="/account/delete/<%= acnt._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/account/details/<%= acnt._id %>" class="btn btn-info"> Details </a>
          <a href="/account/edit/<%= acnt._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>-->


      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=acnt.name%></h5>
          <p class="card-text">Account Number: <%=acnt.accountNumber%></p>
          <p> Organization: <%=acnt.organization%></p>
          <a href="/account/delete/<%= acnt._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/account/details/<%= acnt._id %>" class="btn btn-info"> Details </a>
          <a href="/account/edit/<%= acnt._id %>" class="btn btn-primary"> Edit </a>
        </div>
      </div>



      <% } %>

      

    </div>
  </div>
  
</div>
<a href="/account/create">
  <button type="button" class="btn btn-primary btn-circle bottom-right"><i class="fa fa-plus"></i>

</a>
