<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= accnt.name %>" required>
    </div>

    
    
    <div class="form-group">
      <label for="accountNumber">Account Number</label>
      <input type="text" class="form-control" id="accountNumber" name="accountNumber" value="<%= accnt.accountNumber %>">
    </div>

    <div class="form-group">
      <label for="organization">organization</label>
      <input  type="Text" class="form-control" id="organization" name="organization"
        value="<%= accnt.organization %>" required>
    </div>


  </div>
</div>

