<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>


      <h4>Requests to account GET JSON by Gunashekar koppula</h4>
      <ol>
        <li> <a href="https://projectbobo.herokuapp.com/account/findall">https://projectbobo.herokuapp.com/account/findall</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/account/findone/91">https://projectbobo.herokuapp.com/account/findone/91</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/account/findone/92">https://projectbobo.herokuapp.com/account/findone/92</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/account/findone/93">https://projectbobo.herokuapp.com/account/findone/93</a>
        </li>
      </ol>

      <br>
      <h4>Requests to GET a account view by Gunashekar koppula</h4>
      <ol>
        <li>
          <a href="https://projectbobo.herokuapp.com/account">https://projectbobo.herokuapp.com/account</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/create">https://projectbobo.herokuapp.com/account/create</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/account/edit/91">https://projectbobo.herokuapp.com/account/edit/91</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/edit/92">https://projectbobo.herokuapp.com/account/edit/92</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/edit/93">https://projectbobo.herokuapp.com/account/edit/93</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/account/delete/91">https://projectbobo.herokuapp.com/account/delete/91</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/delete/92">https://projectbobo.herokuapp.com/account/delete/92</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/delete/93">https://projectbobo.herokuapp.com/account/delete/93</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/account/details/91">https://projectbobo.herokuapp.com/account/details/91</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/details/92">https://projectbobo.herokuapp.com/account/details/92</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/account/details/93">https://projectbobo.herokuapp.com/account/details/93</a>
        </li>

      </ol>


      <h4>Requests to Transaction GET JSON by Bharadwaj Gandrakota</h4>
      <h6>Clound Links</h6>
      <ol>
        <li> <a href="https://projectbobo.herokuapp.com/transaction/findall">https://projectbobo.herokuapp.com/transaction/findall</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/transaction/findone/123">https://projectbobo.herokuapp.com/transaction/findone/123</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/transaction/findone/124">https://projectbobo.herokuapp.com/transaction/findone/124</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/transaction/findone/125">https://projectbobo.herokuapp.com/transaction/findone/125</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/transaction/findone/126">https://projectbobo.herokuapp.com/transaction/findone/126</a>
        </li>
      </ol>

      <h6>Local Links</h6>

      <ol>
        <li> <a href="http://localhost:3006/transaction/findall">http://localhost:3006/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:3006/transaction/findone/123">http://localhost:3006/transaction/findone/123</a>
        </li>
        <li> <a href="http://localhost:3006/transaction/findone/124">http://localhost:3006/transaction/findone/124</a>
        </li>
        <li> <a href="http://localhost:3006/transaction/findone/125">http://localhost:3006/transaction/findone/125</a>
        </li>
        <li> <a href="http://localhost:3006/transaction/findone/126">http://localhost:3006/transaction/findone/126</a>
        </li>
      </ol>


      <h4>Requests to GET a transaction view by Bharadwaj Gandrakota</h4>

      <h6>Clound Links</h6>
      <ol>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction">https://projectbobo.herokuapp.com/transaction</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/create">https://projectbobo.herokuapp.com/transaction/create</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/edit/123">https://projectbobo.herokuapp.com/transaction/edit/123</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/edit/124">https://projectbobo.herokuapp.com/transaction/edit/124</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/edit/125">https://projectbobo.herokuapp.com/transaction/edit/125</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/edit/126">https://projectbobo.herokuapp.com/transaction/edit/126</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/delete/123">https://projectbobo.herokuapp.com/transaction/delete/123</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/delete/124">https://projectbobo.herokuapp.com/transaction/delete/124</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/delete/125">https://projectbobo.herokuapp.com/transaction/delete/125</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/delete/126">https://projectbobo.herokuapp.com/transaction/delete/126</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/details/123">https://projectbobo.herokuapp.com/transaction/details/123</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/details/124">https://projectbobo.herokuapp.com/transaction/details/124</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/details/125">https://projectbobo.herokuapp.com/transaction/details/125</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/transaction/details/126">https://projectbobo.herokuapp.com/transaction/details/126</a>
        </li>


      </ol>



      <h4>Requests to Organisation GET JSON By Akhil Kumar Reddy</h4>

      <h6>Clound Links</h6>
      <ol>
        <li> <a href="https://projectbobo.herokuapp.com/organisation/findall">https://projectbobo.herokuapp.com/organisation/findall</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/organisation/findone/111">https://projectbobo.herokuapp.com/organisation/findone/111</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/organisation/findone/222">https://projectbobo.herokuapp.com/organisation/findone/222</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/organisation/findone/333">https://projectbobo.herokuapp.com/organisation/findone/333</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/organisation/findone/444">https://projectbobo.herokuapp.com/organisation/findone/444</a>
        </li>
      </ol>

      <h6>Local Links</h6>
      <ol>
        <li> <a href="http://localhost:3006/organisation/findall">http://localhost:3006/organisation/findall</a>
        </li>
        <li> <a href="http://localhost:3006/organisation/findone/111">http://localhost:3006/organisation/findone/111</a>
        </li>
        <li> <a href="http://localhost:3006/organisation/findone/222">http://localhost:3006/organisation/findone/222</a>
        </li>
        <li> <a href="http://localhost:3006/organisation/findone/333">http://localhost:3006/organisation/findone/333</a>
        </li>
        <li> <a href="http://localhost:3006/organisation/findone/444">http://localhost:3006/organisation/findone/444</a>
        </li>
      </ol>


      <h4>Requests to GET a organisation view by Akhil Kumar Reddy</h4>

      <h6>Clound Links</h6>
      <ol>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation">https://projectbobo.herokuapp.com/organisation</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/create">https://projectbobo.herokuapp.com/organisation/create</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/edit/111">https://projectbobo.herokuapp.com/organisation/edit/111</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/edit/222">https://projectbobo.herokuapp.com/organisation/edit/222</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/edit/333">https://projectbobo.herokuapp.com/organisation/edit/333</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/edit/444">https://projectbobo.herokuapp.com/organisation/edit/444</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/delete/111">https://projectbobo.herokuapp.com/organisation/delete/111</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/delete/222">https://projectbobo.herokuapp.com/organisation/delete/222</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/delete/333">https://projectbobo.herokuapp.com/organisation/delete/333</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/delete/444">https://projectbobo.herokuapp.com/organisation/delete/444</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/details/111">https://projectbobo.herokuapp.com/organisation/details/111</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/details/222">https://projectbobo.herokuapp.com/organisation/details/222</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/details/333">https://projectbobo.herokuapp.com/organisation/details/333</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/details/444">https://projectbobo.herokuapp.com/organisation/details/444</a>
        </li>


      </ol>
      <h6>Local Links</h6>

      <ol>
        <li>
          <a href="http://localhost:3006/organisation">http://localhost:3006/organisation</a>
        </li>

        <li>
          <a href="http://localhost:3006/organisation/create">http://localhost:3006/organisation/create</a>
        </li>

        <li>
          <a href="http://localhost:3006/organisation/edit/111">http://localhost:3006/organisation/edit/111</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/edit/222">http://localhost:3006/organisation/edit/222</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/edit/333">http://localhost:3006/organisation/edit/333</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/edit/444">http://localhost:3006/organisation/edit/444</a>
        </li>

        <li>
          <a href="http://localhost:3006/organisation/delete/111">http://localhost:3006/organisation/delete/111</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/delete/222">http://localhost:3006/organisation/delete/222</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/delete/333">http://localhost:3006/organisation/delete/333</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/delete/444">http://localhost:3006/organisation/delete/444</a>
        </li>

        <li>
          <a href="http://localhost:3006/organisation/details/111">http://localhost:3006/organisation/details/111</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/details/222">http://localhost:3006/organisation/details/222</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/details/333">http://localhost:3006/organisation/details/333</a>
        </li>
        <li>
          <a href="http://localhost:3006/organisation/details/444">http://localhost:3006/organisation/details/444</a>
        </li>


      </ol>

      <h4>Requests to category GET JSON By Sai Samrat</h4>
      <h6>Cloud Links</h6>

      <ol>
        <li> <a href="https://projectbobo.herokuapp.com/category/findall">https://projectbobo.herokuapp.com/category/findall</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/category/findone/1111">https://projectbobo.herokuapp.com/category/findone/1111</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/category/findone/2222">https://projectbobo.herokuapp.com/category/findone/2222</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/category/findone/3333">https://projectbobo.herokuapp.com/category/findone/3333</a>
        </li>
        <li> <a href="https://projectbobo.herokuapp.com/category/findone/4444">https://projectbobo.herokuapp.com/category/findone/4444</a>
        </li>
      </ol>
      <h6>Local Links</h6>
      <ol>
        <li> <a href="http://localhost:3006/category/findall">http://localhost:3006/category/findall</a>
        </li>
        <li> <a href="http://localhost:3006/category/findone/1111">http://localhost:3006/category/findone/1111</a>
        </li>
        <li> <a href="http://localhost:3006/category/findone/2222">http://localhost:3006/category/findone/2222</a>
        </li>
        <li> <a href="http://localhost:3006/category/findone/3333">http://localhost:3006/category/findone/3333</a>
        </li>
        <li> <a href="http://localhost:3006/category/findone/4444">http://localhost:3006/category/findone/4444</a>
        </li>
      </ol>



      
     

      <h6>Local Links</h6>
      <ol>
        <li>
          <a href="http://localhost:3006/transaction">http://localhost:3006/transaction</a>
        </li>

        <li>
          <a href="http://localhost:3006/transaction/create">http://localhost:3006/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:3006/transaction/edit/123">http://localhost:3006/transaction/edit/123</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/edit/124">http://localhost:3006/transaction/edit/124</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/edit/125">http://localhost:3006/transaction/edit/125</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/edit/126">http://localhost:3006/transaction/edit/126</a>
        </li>

        <li>
          <a href="http://localhost:3006/transaction/delete/123">http://localhost:3006/transaction/delete/123</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/delete/124">http://localhost:3006/transaction/delete/124</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/delete/125">http://localhost:3006/transaction/delete/125</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/delete/126">http://localhost:3006/transaction/delete/126</a>
        </li>

        <li>
          <a href="http://localhost:3006/transaction/details/123">http://localhost:3006/transaction/details/123</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/details/124">http://localhost:3006/transaction/details/124</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/details/125">http://localhost:3006/transaction/details/125</a>
        </li>
        <li>
          <a href="http://localhost:3006/transaction/details/126">http://localhost:3006/transaction/details/126</a>
        </li>


      </ol>

     


      <h4>Requests to GET a category view By Sai Samrat</h4>

      <h6>Clound Links</h6>
      <ol>
        <li>
          <a href="https://projectbobo.herokuapp.com/category">https://projectbobo.herokuapp.com/category</a>
        </li>


        <li>
          <a href="https://projectbobo.herokuapp.com/category/create">https://projectbobo.herokuapp.com/organisation/create</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/category/edit/1111">https://projectbobo.herokuapp.com/category/edit/1111</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/edit/2222">https://projectbobo.herokuapp.com/category/edit/2222</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/edit/3333">https://projectbobo.herokuapp.com/category/edit/3333</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/edit/4444">https://projectbobo.herokuapp.com/category/edit/4444</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/category/delete/1111">https://projectbobo.herokuapp.com/category/delete/1111</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/delete/2222">https://projectbobo.herokuapp.com/category/delete/2222</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/delete/3333">https://projectbobo.herokuapp.com/category/delete/3333</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/delete/4444">https://projectbobo.herokuapp.com/category/delete/4444</a>
        </li>

        <li>
          <a href="https://projectbobo.herokuapp.com/organisation/details/1111">https://projectbobo.herokuapp.com/category/details/1111</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/details/2222">https://projectbobo.herokuapp.com/category/details/2222</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/details/3333">https://projectbobo.herokuapp.com/category/details/3333</a>
        </li>
        <li>
          <a href="https://projectbobo.herokuapp.com/category/details/4444">https://projectbobo.herokuapp.com/organisation/details/4444</a>
        </li>

      </ol>

      <h6>Local Links</h6>
      <ol>
        <li>
          <a href="http://localhost:3006/category">http://localhost:3006/category</a>
        </li>


        <li>
          <a href="http://localhost:3006/category/create">http://localhost:3006/organisation/create</a>
        </li>

        <li>
          <a href="http://localhost:3006/category/edit/1111">http://localhost:3006/category/edit/1111</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/edit/2222">http://localhost:3006/category/edit/2222</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/edit/3333">http://localhost:3006/category/edit/3333</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/edit/4444">http://localhost:3006/category/edit/4444</a>
        </li>

        <li>
          <a href="http://localhost:3006/category/delete/1111">http://localhost:3006/category/delete/1111</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/delete/2222">http://localhost:3006/category/delete/2222</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/delete/3333">http://localhost:3006/category/delete/3333</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/delete/4444">http://localhost:3006/category/delete/4444</a>
        </li>

        <li>
          <a href="http://localhost:3006/organisation/details/1111">http://localhost:3006/category/details/1111</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/details/2222">http://localhost:3006/category/details/2222</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/details/3333">http://localhost:3006/category/details/3333</a>
        </li>
        <li>
          <a href="http://localhost:3006/category/details/4444">http://localhost:3006/organisation/details/4444</a>
        </li>

      </ol>


    </div>
  </div>
</div>