/* ==========================================================================
   needed for fixed navbar and fixed footer
   ========================================================================== */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* expand vertically without hiding any */
 flex: 1 1 0;
 padding: 60px 15px 0;
 max-width: 700px;
 margin-right: auto;
 margin-left: auto;
}


.card{
  display: inline-block;
  margin-top: 1rem;
  margin-left:1rem;
  
      }
  
      .btn-circle.btn-xl {
      width: 5rem;
      height: 5rem;
      padding: 10px 16px;
      border-radius: 5rem;
      font-size: 24px;
      line-height: 1.33;
  }
  
  .btn-circle {
      width: 5rem;
      height: 5rem;
      padding: 6px 0px;
      border-radius: 5rem;
      text-align: center;
      font-size: 12px;
      line-height: 1.42857;
  }
  
  .bottom-right {
      position: absolute;
      bottom: 0rem;
      right: 0rem;
  }
  .maindiv{
  
    max-height: 430px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .fa-plus{
  
    font-size: 3em;
  }
  .fa-list{
  
  font-size: 3em;
  }
  .details{
    font-size:1.5rem;
  }
  
  body{
    background-color: #f5f5f5;
  }
