<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of order</h2>
      <br>
      <br> cat_id: <%=  cat.cat_id %>
      <br> name: <%=cat.name%>
      <br> catogery_type: <%=cat.catogery_type%>
      <br> tax: <%=cat.tax%>
      <br> is_applicable: <%=cat.is_applicable%>
      <hr>
      
      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/category/delete/<%= cat.cat_id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>
