<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Order details</h2>
      <br>
      <br> cat_id: <%=  cat.cat_id %>
      <br> name: <%=cat.name%>
      <br> catogery_type: <%=cat.catogery_type%>
      <br> tax: <%=cat.tax%>
      <br> is_applicable: <%=cat.is_applicable%>
      <hr>

      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>