<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Edit category Info </h2>

      <div class="content">
        <form method="POST" action="/category/save/<%= cat.cat_id %>">
          <div class="form-group" id=frm>
            <label for="cat_id">ID</label>
            <input type="number" class="form-control" id="cat_id" name="cat_id" value="<%= cat.cat_id %>" required disabled>
          </div>

          <!-- COMMON TO EDIT AND CREATE -->
          <%include partial_edit.ejs %>

          <input type="submit" value="Save" class="btn btn-primary" />
        </form>

        <form method="get" action="/category">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>

      </div>
    </div>
  </div>
</div>