<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="category/create" class="btn btn-primary new">
        Create a new Account
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= category.query.length %> catogeries.
        <br>
      </p>
      <% for (var i = category.query.length-1; i >= 0; i--) {   
        cat = category.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> cat_id: <%=  cat.cat_id %>
          <br> name: <%=cat.name%>
          <br> catogery_type: <%=cat.catogery_type%>
          <br> tax: <%=cat.tax%>
          <br> is_applicable: <%=cat.is_applicable%>
          

          <hr>
          <a href="/category/delete/<%= cat.cat_id  %>" class="btn btn-danger"> Delete </a>
          <a href="/category/details/<%= cat.cat_id %>" class="btn btn-info"> Details </a>
          <a href="/category/edit/<%= cat.cat_id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>