<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= cat.name %>" required>
      </div>
  
      
      
      <div class="form-group">
        <label for="catogery_type">Category Type</label>
        <input type="text" class="form-control" id="catogery_type" name="catogery_type" value="<%= cat.catogery_type %>">
      </div>

      <div class="form-group">
        <label for="tax">tax</label>
        <input type="text" class="form-control" id="tax" name="tax" value="<%= cat.tax %>">
      </div>

      <div class="form-group">
        <label for="is_applicable">Category Type</label>
        <input type="text" class="form-control" id="is_applicable" name="is_applicable" value="<%= cat.is_applicable %>">
      </div>

  
        
    </div>
  </div>
  
  