<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of transaction</h2>
      <br>
      <br> ID: <%=  trans._id %>
          <br> Name: <%=trans.name%>
          <br> Account Number: <%=trans.accountNumber%>
          <br> Transaction Number: <%=trans.transacation_number%>
          <br> Transaction Type: <%=trans.transacation_type%>
          <br> Transaction Date: <%=trans.transaction_date%>

      <hr>
      
      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/transaction/delete/<%= trans._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>