<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="transaction/create" class="btn btn-primary new">
        Create a new transaction
      </a>

      <h2>Recent entries for transaction</h2>
      <p>There are
        <%= transaction.query.length %> transactions.
        <br>
      </p>
      <% for (var i = transaction.query.length-1; i >= 0; i--) {   
        transac = transaction.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  transac._id %>
          <br> Name: <%=transac.name%>
          <br> Account Number: <%=transac.accountNumber%>
          <br> Transaction Number: <%=transac.transacation_number%>
          <br> Transaction Type: <%=transac.transacation_type%>
          <br> Transaction Date: <%=transac.transaction_date%>
          

          <hr>
          <a href="/transaction/delete/<%= transac._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/transaction/details/<%= transac._id %>" class="btn btn-info"> Details </a>
          <a href="/transaction/edit/<%= transac._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>