<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= trans.name %>" required>
    </div>

    
    
    <div class="form-group">
      <label for="accountNumber">Account Number</label>
      <input type="text" class="form-control" id="accountNumber" name="accountNumber" value="<%= trans.accountNumber %>">
    </div>

    <div class="form-group">
      <label for="transacation_number">Transaction Number</label>
      <input type="text" class="form-control" id="transacation_number" name="transacation_number" value="<%= trans.transacation_number %>">
    </div>
    <div class="form-group">
      <label for="transacation_type">Transaction Type</label>
      <input type="text" class="form-control" id="transacation_type" name="transacation_type" value="<%= trans.transacation_type %>">
    </div>
    <div class="form-group">
      <label for="transaction_date">Transaction Date</label>
      <input type="text" class="form-control" id="transaction_date" name="transaction_date" value="<%= trans.transaction_date %>">
    </div>

      
  </div>
</div>

