<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of organisation</h2>
      <br>
      <br> org_id: <%=  org.org_id %>
      <br> oraganisation_name: <%=org.oraganisation_name%>
      <br> organisation_sectar: <%=org.organisation_sectar%>
      <hr>
      
      <form method="get" action="/organisation">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/organisation/delete/<%= org.org_id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>
