<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Order details</h2>
      <br>
      <br> org_id: <%=  org.org_id %>
      <br> oraganisation_name: <%=org.oraganisation_name%>
      <br> organisation_sectar: <%=org.organisation_sectar%>
      <hr>

      <form method="get" action="/organisation">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>