<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="organisation/create" class="btn btn-primary new">
        Create a new organisation
      </a>

      <h2>Recent entries for organisation</h2>
      <p>There are
        <%= organisation.query.length %> organisations.
        <br>
      </p>
      <% for (var i = organisation.query.length-1; i >= 0; i--) {   
        org = organisation.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> org_id: <%=  org.org_id %>
          <br> Oraganisation Name: <%=org.oraganisation_name%>
          <br> Oraganisation Sectar: <%=org.organisation_sectar%>
          

          <hr>

          <a href="/organisation/delete/<%= org.org_id  %>" class="btn btn-danger"> Delete </a>
          <a href="/organisation/details/<%= org.org_id %>" class="btn btn-info"> Details </a>
          <a href="/organisation/edit/<%= org.org_id %>" class="btn btn-primary"> Edit </a>

          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>