<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="org_id">org id</label>
        <input type="text" class="form-control" id="org_id" name="org_id" value="<%= org.org_id %>">
      </div>

      <div class="form-group">
        <label for="oraganisation_name">oraganisation name</label>
        <input type="text" class="form-control" id="oraganisation_name" name="oraganisation_name" value="<%= org.oraganisation_name %>">
      </div>

      <div class="form-group">
        <label for="organisation_sectar">organisation sectar</label>
        <input type="text" class="form-control" id="organisation_sectar" name="organisation_sectar" value="<%= org.organisation_sectar %>">
      </div>

  
        
    </div>
  </div>
  
  